#root {
  --primary-color: #daa520;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 10px;
  margin: 0;
  background-color: var(--primary-color);
  text-align: center;
}

form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.todos {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: min(600px, 95vw);
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  border: 2px solid var(--primary-color);
}

.checkBox {
  margin-right: 5px;
}

.checked {
  color: gray;
  text-decoration: line-through;
  background-color: rgb(232, 232, 232);
  border: 2px solid #aea07d;
}

.actions > * {
  margin: 0 5px;
}

.deleteBtn {
  margin: auto;
}

button {
  padding: 2px 4px;
}
